

.home-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #CCE5FF 0%, #FFFFFF 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.home-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(14px);
  padding: 50px 40px;
  border-radius: 35px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
}



.home-title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 35px;
}



.home-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  background: linear-gradient(to right, #A8D8FF, #D1E9FF);
  cursor: pointer;
  transition: 0.3s ease;
}

.home-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
}