/* ===== BACKGROUND ===== */

.login-bg {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #CCE5FF 0%, #FFFFFF 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===== CARD ===== */

.login-card {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(14px);
  padding: 45px 35px;
  border-radius: 35px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
}

/* ===== TITLES ===== */

.login-title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

.login-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.login-heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ===== FORM ===== */

.login-group {
  text-align: left;
  margin-bottom: 20px;
}

.login-group label {
  font-size: 13px;
  font-weight: 600;
  display: block;
  margin-bottom: 6px;
}

.login-group input {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  background: #F9FCFF;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.login-group input:focus {
  border-color: #4DA6FF;
  box-shadow: 0 0 0 3px rgba(77, 166, 255, 0.2);
}

/* ===== FORGOT LINK ===== */

.forgot-link {
  text-align: right;
  font-size: 12px;
  margin-top: 6px;
  color: #FF4D4D;
  cursor: pointer;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* ===== BUTTON ===== */

.login-btn {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background: linear-gradient(to right, #A8D8FF, #D1E9FF);
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

/* ===== FOOTER ===== */

.login-footer {
  margin-top: 25px;
  font-size: 14px;
}

.login-footer span {
  color: #4DA6FF;
  font-weight: bold;
  cursor: pointer;
}

.login-footer span:hover {
  text-decoration: underline;
}

.login-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}